@media screen and (max-width: 601px) {
  
  /* NAV HEADER MEDIA */

  nav#mainNav {
    display: block;
  }

    #headerFlex {
      display: none;
    }

    div#name h1 {
      font-size: 25px;
    }

    p#bandTitle {
      font-size: 35px;
    }

    /* button.bg-primary {
      background-color: #FF666D !important;
    } */

    ul li a {
      color: white;
    }

  /* PROJETS */
    div#listeProjet.container-col {
      width: 95%;
    }

 /* COMPETENCES */
    div#competence1 {
      width: 100%;
      height: 100%;
      margin-top: 25px;
    }

    div#competencePic {
      display: flex;
      flex-wrap: wrap;
    }

 /* PARCOURS */
    div#parcours1 p {
      font-size: 12px;
    }

    .parcoursA {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 25px;
      height: 850px;
    }
    
    #parcours {
      /* display: none; */
      height: 0px;
    }

    div#parcours1 h1 {
      font-size: 25px;
    }

 /* CONTACT */
    div#contactFlex {
    /* z-index: 2; */
    height: 200px;;
    }

    #competence {
      /* display: none; */
      height: 0px;
    }

    div#contact div h1 {
      font-size: 25px;
    }

    div#contact div p{
      font-size: 15px;
    }

  /* FOOTER   */
    footer {
      display: flex;
    }
    
  }


body {
  margin: 0px;
  background-color:#F6F6F6 !important;
}

div.container {
  padding: 0;
}

#listeProjet a {
  text-decoration: none;
}

.container-col {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

#name {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  color:#515151;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 8px; 
  margin-bottom: 15px;
}

#name h1 {
  text-align: center;
}

#listeProjet h1{
  color:#8D8F93;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#listeProjet p {
  color:#8D8F93;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color:red;
}

#header {
 
  color: white;
  background-color:#F6F6F6;
  width: 100%;
  height: 80px;
  margin-top: 130px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerFlex {
  height: 80px;
  width: 1140px;
  border-bottom: 1px solid #C3C3C3;
  border-top: 1px solid #C3C3C3;
  z-index: 1000;
  background-color: #F6F6F6;
}

#mainNav {
  display: none;
}

.fixedTop {
  position: fixed;
  top:0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#navDiv {
 height: 100%;
}

#nav {
  margin-top: 30px;
  margin-right: 5px;
}

nav a {
color:#515151;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
}

#bandDiv {
  margin-top: 71px;
  padding:0;
  height: 600px;
  width: 100%;
  opacity: 1;
}

#bandeau {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color:#2D2D2D;
  height: 500px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  color: #fff;
  background: linear-gradient(#2D2D2D, rgb(68, 68, 68));
}

#bandTitle {
  font-size: 40px;
}

#menu2 {
  display:none
}

footer {
  text-align: center;
}

/* ------------------bordure de div------------------------ */


.allSection {
  justify-content: center;
  align-items: center;
}

div.allSection {
  width: 100%;
}

#listeProjet {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color:#F6F6F6;
  padding: 0; 
}

.divTest {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.divTest div {
  height: 300px;
}

#asos {
  border: 1px solid rgba(167, 167, 167, 0.164);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#EAE8E6;
  opacity :1;
  margin-top: 50px;
  text-align: center;
}

#asos:hover {
  background-color:#C3C3C3;
}

#todoList:hover {
  background-color:#C3C3C3;
}

#jeu:hover {
  background-color:#C3C3C3;
}

#blog:hover {
  background-color:#C3C3C3;
}

#wordPress:hover {
  background-color:#C3C3C3;
}

#websitePic {
  color:#FF666D;
}

#todoPic{
  color:#FF666D;
}

#gamePad1{
  color:#FF666D;
}

#blogPic{
  color:#FF666D;
}
#wordpressPic{
  color:#FF666D;
}
#vue{
  color:#FF666D; 
}

#todoList {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#EAE8E6;
  border: 1px solid rgba(167, 167, 167, 0.164);
  margin-top: 50px;
}

#jeu {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#EAE8E6;
  border: 1px solid rgba(167, 167, 167, 0.164);
  margin-top: 50px;
  text-align: center;
}

#blog{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#EAE8E6;
  border: 1px solid rgba(167, 167, 167, 0.164);
  margin-top: 50px;
  text-align: center;
}

#wordPress{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#EAE8E6;
  border: 1px solid rgba(167, 167, 167, 0.164);
  margin-top: 50px;
}

#competence {
  margin-bottom: 80px;
}

#competence1{
 display:flex;
 justify-content: center;
 align-items: center;
 flex-basis:content;
  height: 150px;
}

#competence1 p{
  color:black;
  font-size: 12px;
}

#competencePic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}



#parcours{
  height: 20px;
  margin-bottom: 80px;
}
#parcours1{
  height: 300px;
  text-align: center;
}

#contact{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  color: #EAE8E6;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#contact p {
  font-size:18px;
  font-style: italic;
}

#contactIcon a{
  color:white;
}

#contactFlex{
display:flex;  
flex-direction: column;
justify-content: center;
align-items: center;
height: 300px;
background-color: #2D2D2D;
width: 100%;
}

#contactIcon{
  display: flex;
  justify-content: space-between;
  width: 70px;
}


#linkedin:hover{
  color:#007AB6;
}

#logoJquery{
 width: 60px;
height: 60px;

}
#logoJquery:hover{
  color:#006690;
}

#jquery{
  margin-top: 6px;
  width:70px;
  height: 70px;
}

#logoMysql{
  width: 70px;
 height: 70px;
 }
 
 #mysql{
   width:60px;
   height: 60px;
   margin-top: 8px;
 }

 #logoMysql:hover{
   color:#006690;
 }

 
 #photoshop{
   width:90px;
   height: 90px;
 }

 #logoPhotoshop{
  width:60px;
  height: 60px;
}

 #html:hover{
   color:#F1662A;
 }

 #css:hover{
  color:#33A9DC;
}

#javascript:hover{
  color:#F9E500;
}

#vuejs:hover{
  color:#41B883;
}

#php:hover{
  color:#75A5CF;
}

#github:hover{
  color:#856992;
}

#wordpress:hover{
  color:#21759B;
}

li a:hover{
  text-decoration: none;
  font-size: 15px;
}
















































































































































































































































































































